.git
.venv
__pycache__
*.pyc
.pytest_cache

dataset/
dataset/train/
dataset/valid/
dataset/test/
dataset/label_backups/

runs/
local_outputs/
local_weights/
local_videos/
docs/video_demos/

*.pt
*.pth
*.onnx
*.mp4
*.avi
*.mov
*.mkv

.env
.DS_Store
